.hero-section {
    background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0zMDktYWRqLTA1LmpwZw.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: #000000;
}

.maintenance-para {
    /* text-align: left; */
    font-size: 18px;
    /* max-width: 50%; */


}
/* CSS for the buttons */
.hero-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
}